<h1>Edit this Celebrity</h1>
{{#with celebs}}
<form action="/celebrities/{{_id}}/edit" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{name}}">

    <label for="occupation">Occupation:</label>
    <input type="text" name="occupation" id="occupation" value="{{occupation}}">

    <label for="catchphrase">Catchphrase:</label>
    <input type="text" name="catchphrase" id="catchphrase" value="{{catchphrase}}">
    <button type="submit">Update this Celebrity</button>
</form>
{{/with}}